@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

body {
    background-color: #fff;
}

input, button{
    border: none;
    outline: none;
    background-color: transparent;
}

button {
    cursor: pointer;
}